/*.maintainProducts {*/
/*    color: #0b0bb6;*/
/*    font-weight: bolder;*/
/*    font-family: "Arial Black";*/
/*    padding: 10px;*/
/*}*/

/*.card{*/
/*    border: dashed cadetblue;*/
/*    background-color: #0b0bb6;*/
/*}*/

/*.inputNumber {*/
/*    margin-left: 150px;*/
/*}*/

.maintainProducts {
    color: #1368aa;
    font-weight: bolder;
    font-family: "Arial Black";
    padding: 10px;
}

.card {
    border: solid #ced0da;
    padding: 30px;
    margin: 20px;
}

.ui-inputfield {
    margin-left: 150px;
}

.radio {
    border: dashed cadetblue;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
}

.rightButton {
    justify-content: flex-end;
    display: flex;
    right: 0;
    bottom: 0;
    margin-bottom: 40px;
    color: #1368aa;
}

.clearFilter {
    justify-content: flex-end;
    display: flex;
    right: 0;
    bottom: 0;
    color: #1368aa;
}

.table {
    padding: 20px;
}

.ui-button {
    color: #1368aa;
}

.custom-radio {
    border: 2px dashed #9747ff;
    display: inline-block;
    width: 200px;
    border-radius: 5px;
}

.custom-radio .ui-radiobutton-box.ui-state-active {
    background-color: orange !important;
    border-color: orange !important;
}

.mr-2 {
    color: #1368aa;
}


body .ui-datatable .ui-datatable-data>tr{
    border: solid #1368aa;
}

body .ui-datatable .ui-paginator.ui-paginator-bottom{
    border: none;
}

body .ui-datatable .ui-datatable-header{
    border:  solid #b7b7b7;
}

body .ui-datatable .ui-datatable-data>tr>td:nth-child(9){
    background-color: #1368aa;
}

body .ui-splitbutton{
    /*background-color: #1368aa;*/

}
.ui-datatable table {
    border: solid  #b7b7b7;
}


.splitButton{
    background-color: #1368aa;
}

body .ui-datatable .ui-inputfield>tr>td:nth-child(3) {
    background-color: blue;
}


